<div class="container-lol">
    <div class="container-qa">
        <figure class="container-fgure">
            <div class="container-fgure">
                <img class="image-lol" src="../assets/images/lol.svg">
                <p>League of legends</p>
            </div>
            <div class="reloj">
                <i class="fas fa-stopwatch"></i>
                35
            </div>
        </figure>
        <form>
            <div class="container-answers">
                <h3 class="questions-lol">¿Cúal de estos campeones no es Piltóver?</h3>
                <p class="answer-lol">a. Ezreal</p>
                <p class="answer-lol">b. Caitlyn</p>
                <p class="answer-lol">c. Tristana</p>
            </div>
        </form>
        <div class="timer">0/3</div>
    </div>
</div>
